@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;500;600;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

:root {
    --first-color: #0b4a89;
    --second-color: #406485;
    --third-color: #8c3c23;
    --dark-color: #2c3335;
    --light-color: #FBF4EE;
}

* {
    box-sizing: border-box;
}

body {
    background-color: var(--light-color);
    font-family: 'Josefin Sans', sans-serif, 'Roboto', sans-serif;
    margin: 0;
}

header {
    padding: 5rem;
    display: flex;
    justify-content: center;
}

.search {
    background-color: var(--third-color);
    border: none;
    opacity: 0.7;
    border-radius: 50px;
    font-family: inherit;
    font-size: 1.5rem;
    padding: 0.5rem 1rem;
}

.search::placeholder {
    color: var(--light-color);
}

.search:focus {
    outline: none;
}

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.movie {
    width: 300px;
    margin: 1rem;
    background-color: #fff;
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.4);
    position: relative;
    overflow: hidden;
    border-radius: 10px;
}

.movie img {
    width: 100%;
}

.movie-info {
    color: var(--dark-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0.2rem;
    padding: 0.5rem 1rem 1rem;
    letter-spacing: 0.5px;
}

.movie-info h3 {
    margin-top: 0;
}

.movie-info span {
    background-color: var(--dark-color);
    color: var(--light-color);
    padding: 0.25rem 0.5rem;
    border-radius: 3px;
    font-weight: bold;
}

.movie-info span.green {
    color: lightgreen;
}

.movie-info span.orange {
    color: orange;
}

.movie-info span.red {
    color: red;
}

.overview {
    background-color: #fff;
    padding: 2rem;
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    max-height: 100%;
    transform: translateY(101%);
    overflow-y: auto;
    transition: transform 0.3s ease-in;
}

.movie:hover .overview {
    transform: translateY(0);
}